$TTL 1h
@   IN  SOA ns1.int.itway.fr. admin.itway.fr. (
        {{ ansible_date_time.date | regex_replace('-','') }}01
        1h 15m 1w 1h )
        IN  NS  ns1.int.itway.fr.

ns1     IN  A   10.10.10.4
dmz-web IN  A   10.10.10.2
dmz-rt  IN  A   10.10.10.5